.Noto-Sans-TC{
    font-family:Noto Sans TC ;
}

.Changa{
    font-family:Changa ;
}

.function_botton{
    display: inline;
    font-family:Noto Sans TC ;
    background-color: rgb(255, 248, 37);
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2%;
    margin-top: 1%;
}

.from-title{
    font-family:Noto Sans TC ;
}

.cmd_text {
    font-family:Changa ;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.buttom {
    font-family:Noto Sans TC ;
    display: inline;
    background-color: rgb(255, 230, 0);
    border-radius: 10px;
    padding: 10px;
}

.input {
    font-family:Changa ;
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
}

.from_sm_title {
    font-size: 18px;
    margin: 10px;
    font-weight: Noto Sans TC;
    display: inline;
}

.from_big_title {
    font-size: 20px;
    margin: 10px;
    font-weight: Noto Sans TC;
}

.change {
    font-family:Noto Sans TC ;
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
}

.check_box {
    margin-left: 1%;
}

.from {
	margin-bottom: 1%;
}

/*
參數組樣式
黃框*/
.parameter_group {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

/*
輸出結果操作框樣式
黃框*/
.action {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

/*
輸出文字框樣式
黃框*/
.command {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

/*
網站計數器*/
.counter{
    font-family:Noto Sans TC ;
    margin-top: 2%;
}