.Noto-Sans-TC{
    font-family:Noto Sans TC ;
}

.Changa{
    font-family:Changa ;
}

.function_botton{
    display: inline;
    font-family:Noto Sans TC ;
    background-color: rgb(255, 248, 37);
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 2%;
    margin-top: 1%;
}

.from-title{
    font-family:Noto Sans TC ;
}

.command {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.cmd_text {
    font-family:Changa ;
    font-size: 25px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.buttom {
    font-family:Noto Sans TC ;
    display: inline;
    background-color: rgb(255, 230, 0);
    border-radius: 10px;
    padding: 10px;
}

.action {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.input {
    font-family:Changa ;
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
}

.target {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.item {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.from_sm_title {
    font-size: 18px;
    margin: 10px;
    font-weight: Noto Sans TC;
    display: inline;
}

.from_big_title {
    font-size: 20px;
    margin: 10px;
    font-weight: Noto Sans TC;
}

.xyz {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.block {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.model {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.change {
    font-family:Noto Sans TC ;
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
}

.adv {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.item_nbt {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.back {
    background-color:rgba(246, 255, 123, 0.779);
    padding: 6px;
    border-radius: 10px;
    margin-top: 1%;
}

.check_box {
    width: 1.5%;
    height: 1.5%;
    margin-left: 1%;
}